## 第六课 可变序列

In [3]:
lst = ['abc',123,{'eden':['孙乙','孙田']}]

print(lst)

['abc', 123, {'eden': ['孙乙', '孙田']}]

In [5]:
l = list('Python')
for i in l:
    print(i,end='')

Python

In [ ]:
name = 'Edensun'
print(name[3])
print(len(name))
print(name[len(name)-1])
print(name[len(name)-2])
print(name[len(name)-3])
print(name[-1])

In [20]:
t ="'1','2','3','4','5','6','7'"
print(len(t))

27

In [32]:
T = [97,99,98]
print(sum(T)/3)

98.0

In [2]:
T = ('a','b','c','d')
t = T*2

print(t)

print(sorted(t))

('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')
['a', 'a', 'b', 'b', 'c', 'c', 'd', 'd']

In [ ]:
mt = ('a','b','c','d',(1,2,3,4))

print(mt[4][-1])

print(mt[-1][-1])


tup = (1,2,3,4,5)

print(tup[0::1])

tup[1] = 10

In [ ]:
d = ()

print(type(d))